.header
{
    background-color: grey;
    height: 100px;
    width: 1280px;
    /* margin-right: 1000px; */
    margin: 0px 100px 0px 0px;

   
}
.back
{
    background-image: url("/asset/index.jpeg");
    height: 630px;
    padding-bottom: 20px;
    height: fit-content;
    /* padding-bottom: 30px; */
}
.but2
{
    background-image: url("/asset/index.jpeg");
    color:black ;
    font-size: 1.1em;
    font: italic 20px/15px Georgia, serif;
    text-align: right;
    padding-bottom: 510px;
    position: relative;
    
}
.log
{
    padding:10px;
    color:whitesmoke; 
    background-image:url("/asset/index.jpeg");
    font-size:150px;
    font-style: italic;
     width: 100px;
     float: right;
}

.name
{
    float: center;
    padding-top: 15px;
    color: white;

}

.container{
    height:100px;
    width: 1260px;
    background-image:url("/asset/index.jpeg");
}
.boxed {
    border: 0px solid rgb(231, 223, 223);
    padding-top: 0%;
    /* height: 100px; */
  }

.boxed1 {
    border: 1px solid white ;
    width:1260px;
    height:0px;
    padding-top:30px;
  }

.boxed2 {
    border: 1px solid white ;
    width:400px;
    height:500px;
  }
  .boxed3 {
      float: left;
    width:1200px;
    height:500px;
  }

  .text
  {
      padding-top: 380px;
      float:bottom;
      padding-right: 48px;
      /* margin-right: 50%;      */
      /* width: 150px; */

  }

.list
{
    float:left;
    height:490px;
    width: 300px;
    padding-left: 0%;
    background-color: grey;
    padding:2px;
    opacity: 0.8;
    color: black;
    line-height: 1.6;
    font-weight: bolder;
    overflow-y: auto;
    border-style: double;
    border-color: grey;
   

}


#h4
{
  float: left;
  margin-left: 10px;  
}

.res
{
    background-color: grey;
    float:right;
    height:460px;
    width: 901px;
    opacity: 0.8;
    border-style: double;
    border-color: grey;
    overflow-y: auto;
}

#h3
{
    float:left;
    padding-bottom:30px;
}
.col
{
    color:black;
}
.left{
    position: relative;
    background:black;
    border-radius: .4em;
    padding: 12px;
    margin: 10px;
    width: 50%;
    height: 60px;
    font-size: 20px;
    color: white;
    float: left;
    word-wrap: break-word;
}
.right{
    position: relative;
    background: white;
    border-radius: .4em;
    padding: 12px;
    margin: 10px;
    width: 50%;
    height: 60px;
    font-size: 20px;
    color:black;
    float: right;
    word-wrap: break-word;
}

.time
{
    float:left;
    font-size: 15px;
}
.send
{
    float:right;
    width: 30px;
    height: 100px;
    margin-right: 0%;
}
.button
{
    /* background-color: grey; */
    color: black;
     padding: 1px; 
     width: 235px;
     margin-left: 0%;
}
