<!-- <div class="but2">
        <img src="asset/message.jpeg" alt="Chat Mate" width="100" height="100" align = "left"> 
    <h1>Welcome to ChatMate!!</h1>
      <a href='#!/login'><button type = "submit" value = "Submit" ng-click = "home()" style="padding:10px;color:whitesmoke;background-color:rgb(0, 1, 2); font-size:20px;font-style: italic">
          LogOut
      </button></a> -->
      
      <!DOCTYPE html>
      <html lang="en">
      
      <head>
          <meta charset="UTF-8">
           <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
          <title>home page</title>
          
      </head>
      <center>
      <body>
          <div>
                <div class="logo" >
                        <img src="../asset/message.jpeg" height="102px" width="102px">
               </div>
          <link rel="stylesheet" href="../asset/homestyle.css">
         
          <div class="container">
              <div class="header">
                      <center> <h1>ChatMate</h1></center>
                  
                  <div class="logout">
                          <button type="logout" value="logout">logout</button>
                  </div>
              </div>
              <div class="area">
                  <div class="leftarea">
                      <div class="users">
                              <center>contacts</center>
                      </div>
                  </div>
                  <div class="rightarea">
                      <div class="messagebox">
                              <center>chatbox</center>
                      </div>
                      <div class="typing">
                          <div class="typingmessage"></div>
                          <div class="send">
                            <center>send </center>
                          </div>
                      </div>
      
                  </div>
              </div>
          </div>
      </div>
      </body>
      </center>
      </html>
      