<html>
    <head>
            <title>
                    Login
             </title>
             <link rel="stylesheet" href="/home/d/Desktop/chatApp/public/asset/style.css"> 
    </head>
    <body id="sty">
        <h2>
            Lets login to the world of ChatMate!
        </h2>
        <form action="/home/d/Desktop/chatApp/public/template/homePage.html">
          Login_ID: <input type = "text" name = "login"><br><br>
          Password: <input type = "password" name = "pwd" required><br><br>
          <input type = "Submit" name = "login"  value = "Login">
        </form>
        <form action="/home/d/Desktop/chatApp/public/template/success.html">
            <input type = "submit" name = "cancel"  value = "Cancel">   
          </form>


    </body>
</html>