<div id="sty">
        <h1>
            Welcome to ChatMate!
        </h1>
<div class="img" layout-align="center end">
        <img src="asset/message.jpeg" alt="Chat Mate" width="100" height="100" align = "bottom"> 
</div>
        <h3>Register into unlimited fun with ChatMate</h3>
        <form>
            First Name: <input type = "text"  ng-model = "user.fname" required minlength="3"><br><br>
            Last Name: <input type = "text"  ng-model = "user.lname"><br><br>
            Username: <input type = "text" ng-model = "user.loginId" required><br><br>
            Email_ID: <input type = "email" ng-model = "user.email" placeholder = "abc@hotmail.com" required><br><br>
            Phone: &emsp;<input type = "number" ng-model = "user.phonenumber" required><br><br>
            Password: <input type = "password" ng-model = "user.password" required><br><br>
           <div id="st"> <a href="#!/login">Already registered.... Login</a> </div>
          <div class = "but"> <button type = "Submit" value="Submit" ng-click = "register()" style="padding:10px;color:whitesmoke;background-color:rgb(0, 1, 2); font-size:20px;font-style: italic">Register</button>   
       <button type = "reset" name="reset" style="padding:10px;color:whitesmoke;background-color:rgb(0, 1, 2); font-size:20px;font-style: italic">Reset</button> </div>    
            
        </form>
<div>
        <p>
                {{message}}
        </p>
</div>
    </div>