
    <!-- <head>
        <title>
                Chat Mate
        </title>
        <link rel="stylesheet" href="/home/d/Desktop/chatApp/public/asset/style.css"> 
    </head> -->

    <div id="sty">
        <h1>
            Welcome to ChatMate!
        </h1>
        <img src="asset/message.jpeg" alt="Chat Mate" width="100" height="100" align = "bottom"> 
        <h3>Register into unlimited fun with ChatMate</h3>
        <form  action="/action_page.php">
            Name: <input type = "text"  name = "name" required><br><br>
            Last Name: <input type = "text"  name = "lname"><br><br>
            Unique Login_ID: <input type = "text" name = "login" required><br><br>
            Email: <input type = "email" name = "email" placeholder = "abc@hotmail.com" required><br><br>
            Phone Number: <input type = "number" name = "num" required><br><br>
            Password: <input type = "password" name = "pwd" required><br><br>
            <div >
            <input type = "submit" class="button" name = "submit" value = "Register" style="padding:10px;color:whitesmoke;background-color:rgb(0, 1, 2); font-size:20px;font-style: italic">
            <input type="submit" class="button" name = "reset" value = "Reset"  style= "padding:10px;color:whitesmoke;background-color:rgb(0, 1, 2); font-size:21px;font-style: italic">
        </div>
        </form>
    </div>