
   <!-- <head>
            <title>
                    Success
             </title>
             <link rel="stylesheet" href="/home/d/Desktop/chatApp/public/asset/style.css"> 
    </head> -->
    <div id="st">
        <form action = "../public/template/login.html">
            <h2>
                   You have successfully registered with us! 
            </h2>
                 <input type = "Submit" name = "login"  value = "Go to Login page" style="padding:10px;color:whitesmoke;background-color:rgb(0, 1, 2); font-size:20px;font-style: italic">
            
        </form>
        <form action = "../public/template/registration.html">
        <input type = "Submit" name = "cancel"  value = "Go to back Registration Page" style="padding:10px;color:whitesmoke;background-color:rgb(0, 1, 2); font-size:20px;font-style: italic">
   </form>
    </div>
 